[Unit]
Description=Primitier multilayer server
After=network.target


[Service]
Restart=always
RestartSec=1
User=centos
ExecStart=/usr/prims

Sockets=PrimS.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target